// base color
@color-white: #ffffff;
@color-black: #000000;
@color-primary: #092747;
@color-primary-light-1: #003b75;
@color-primary-light-2: #053c73;
@color-primary-light-3: #0054a8;
@color-primary-light-4: #005fc1;
@text-color-primary: #99ccff;
@text-color-regular: #cce6ff;
@border-color-base: #005bb5;

// sidebar
@menuText: #99ccff;
@menuActiveText: #e5f2ff;
@subMenuActiveText: #e5f2ff;
@subMenuActiveBg: #005fc1;

@menuBg: transparent;
@menuHover: #005fc1;

@subMenuBg: transparent;
@subMenuHover: #005fc1;

@sideBarWidth: 200px;

// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
   menuText: @menuText;
   menuActiveText: @menuActiveText;
   subMenuActiveText: @subMenuActiveText;
   menuBg: @menuBg;
   menuHover: @menuHover;
   subMenuBg: @subMenuBg;
   subMenuHover: @subMenuHover;
   sideBarWidth: @sideBarWidth;
   subMenuActiveBg: @subMenuActiveBg;
}
